/* One Component*/

/* Post Div */
section {
  width: 400px;
  margin: auto;
  padding: 2px;
  font-family: 'Rubik', sans-serif;
}
.complete-post,
.complete-comment {
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 10px;
}
/* post info*/
.post-info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
}

/* Counters */
.counters p {
  display: inline;
  margin: 5px;
  color: hsl(238, 40%, 52%);
  font-size: 0.75em;
}
.count {
  border: none;
  background-color: (hsl(228, 33%, 97%));
  color: hsl(211, 10%, 45%);
  border-radius: 5px;
}

.counters {
  border: none;
  background-color: hsl(223, 19%, 93%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 1px;
  height: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  margin: 0px;
  align-items: center;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.username {
  font-weight: bold;
  font-size: 0.75em;
  color: hsl(212, 24%, 26%);
}
.post-time {
  font-size: 0.5em;
  color: hsl(211, 10%, 45%);
}

.profile-pic {
  width: 25px;
  vertical-align: middle;
}
.reply-btn-post {
  border: none;
  background-color: white;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
  font-size: 0.75em;
}
.post {
  font-size: 0.7em;
  color: darkgrey;
}
/* Comment Box*/
.complete-comment {
  display: flex;
  flex-direction: row;
}

.comment-profile-pic {
  display: flex;
  flex-direction: column;
  width: 35px;
  padding: 3px;
}

.comment-box {
  display: flex;
  flex-direction: row;
}
.stretch-box {
  width: 280px;
  margin: 5px;
  border: 1px solid hsl(238, 40%, 52%);
  border-radius: 4px;
}
.reply-btn-box {
  display: flex;
  flex-direction: column;
}

.reply-btn {
  background-color: hsl(238, 40%, 52%);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  margin: 5px 1px;
}
