body {
  background-color: hsl(223, 19%, 93%);
}

/* One Component*/
#panel {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Post Div */
section {
  padding: 2px;
  font-family: 'Rubik', sans-serif;
}
.complete-post,
.complete-comment {
  display: flex;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  padding: 10px;
}
/* post info*/
.post-info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;

  border-radius: 5px;
}

/* Counters */
.counters p {
  display: inline;
  margin: 5px;
  color: hsl(238, 40%, 52%);
  font-size: 0.75em;
}
.count {
  border: none;
  background-color: (hsl(228, 33%, 97%));
  color: hsl(211, 10%, 45%);
  border-radius: 5px;
}
.count:hover {
  color: hsl(238, 40%, 52%);
}

.counters {
  border: none;
  background-color: hsl(223, 19%, 93%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 1px;
  height: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  margin: 0px;
  align-items: center;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.username {
  font-weight: bold;
  font-size: 0.75em;
  color: hsl(212, 24%, 26%);
  margin: none;
}
.post-time {
  font-size: 0.5em;
  color: hsl(211, 10%, 45%);
}

.profile-pic {
  width: 25px;
  vertical-align: middle;
}
.reply-btn-post {
  border: none;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
  font-size: 0.75em;
  background-color: white;
}
.reply-btn-post:hover {
  color: hsl(239, 57%, 85%);
}

.post {
  font-size: 0.7em;
  color: darkgrey;
  margin: 5px 0px;
}
/* Comment Box*/
.complete-comment {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.comment-profile-pic {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.comment-photo {
  background-color: white;
  width: 35px;
}

.stretch-box {
  flex-grow: 1;
  margin: 5px;
  border: 1px solid hsl(238, 40%, 52%);
  border-radius: 4px;
}
.reply-btn-box {
  display: flex;
  flex-direction: column;
}

.reply-btn {
  background-color: hsl(238, 40%, 52%);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
}
.reply-btn:hover {
  background-color: hsl(239, 57%, 85%);
}

/*Comment Reply*/

.reply {
  width: 400px;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.change-width {
  width: 450px;
}
